.login_custom {
       -fx-background-color: linear-gradient(from 0% 0% to 100% 100%,
       black 0%, silver 100%);
}

.hbox_custom {
       -fx-background-color: #A9A9A9;
}

.text_custom {
       -fx-background-radius: 5;
       -fx-prompt-text-fill: gray;
}

.text_label {
       -fx-text-fill: white;
       -fx-font-weight: bold;
       -fx-underline: true;
}

.button_padrao {
       -fx-background-radius: 5;
       -fx-background-color: gray;
       -fx-text-fill: white;
}

.button_update {
       -fx-background-radius: 5;
       -fx-background-color: #696969;
       -fx-text-fill: white;
}

.button_exit {
       -fx-background-radius: 5;
       -fx-background-color: red;
       -fx-text-fill: white;
}

.button_padrao:hover, .button_update:hover, .button_exit:hover {
       -fx-scale-x: 1.1;
       -fx-scale-y: 1.1;
       -fx-cursor: hand;
}

.negrito {
       -fx-font-weight: bold;
       -fx-text-fill: white;
}